/.idea/.gitignore
/.idea/codeception.xml
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpspec.xml
/.idea/phpunit.xml
/.idea/smart-dom-crawler.iml
/.idea/vcs.xml
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_files.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/vendor/composer/ClassLoader.php
/vendor/composer/installed.json
/vendor/composer/installed.php
/vendor/composer/InstalledVersions.php
/vendor/composer/LICENSE
/vendor/composer/platform_check.php
/vendor/masterminds/html5/bin/entities.php
/vendor/masterminds/html5/src/HTML5/Parser/CharacterReference.php
/vendor/masterminds/html5/src/HTML5/Parser/DOMTreeBuilder.php
/vendor/masterminds/html5/src/HTML5/Parser/EventHandler.php
/vendor/masterminds/html5/src/HTML5/Parser/FileInputStream.php
/vendor/masterminds/html5/src/HTML5/Parser/InputStream.php
/vendor/masterminds/html5/src/HTML5/Parser/ParseError.php
/vendor/masterminds/html5/src/HTML5/Parser/README.md
/vendor/masterminds/html5/src/HTML5/Parser/Scanner.php
/vendor/masterminds/html5/src/HTML5/Parser/StringInputStream.php
/vendor/masterminds/html5/src/HTML5/Parser/Tokenizer.php
/vendor/masterminds/html5/src/HTML5/Parser/TreeBuildingRules.php
/vendor/masterminds/html5/src/HTML5/Parser/UTF8Utils.php
/vendor/masterminds/html5/src/HTML5/Serializer/HTML5Entities.php
/vendor/masterminds/html5/src/HTML5/Serializer/OutputRules.php
/vendor/masterminds/html5/src/HTML5/Serializer/README.md
/vendor/masterminds/html5/src/HTML5/Serializer/RulesInterface.php
/vendor/masterminds/html5/src/HTML5/Serializer/Traverser.php
/vendor/masterminds/html5/src/HTML5/Elements.php
/vendor/masterminds/html5/src/HTML5/Entities.php
/vendor/masterminds/html5/src/HTML5/Exception.php
/vendor/masterminds/html5/src/HTML5/InstructionProcessor.php
/vendor/masterminds/html5/src/HTML5.php
/vendor/masterminds/html5/composer.json
/vendor/masterminds/html5/CREDITS
/vendor/masterminds/html5/LICENSE.txt
/vendor/masterminds/html5/README.md
/vendor/masterminds/html5/RELEASE.md
/vendor/masterminds/html5/UPGRADING.md
/vendor/symfony/dom-crawler/Field/ChoiceFormField.php
/vendor/symfony/dom-crawler/Field/FileFormField.php
/vendor/symfony/dom-crawler/Field/FormField.php
/vendor/symfony/dom-crawler/Field/InputFormField.php
/vendor/symfony/dom-crawler/Field/TextareaFormField.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerAnySelectorTextContains.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerAnySelectorTextSame.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerSelectorAttributeValueSame.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerSelectorCount.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerSelectorExists.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerSelectorTextContains.php
/vendor/symfony/dom-crawler/Test/Constraint/CrawlerSelectorTextSame.php
/vendor/symfony/dom-crawler/AbstractUriElement.php
/vendor/symfony/dom-crawler/CHANGELOG.md
/vendor/symfony/dom-crawler/composer.json
/vendor/symfony/dom-crawler/Crawler.php
/vendor/symfony/dom-crawler/Form.php
/vendor/symfony/dom-crawler/FormFieldRegistry.php
/vendor/symfony/dom-crawler/Image.php
/vendor/symfony/dom-crawler/LICENSE
/vendor/symfony/dom-crawler/Link.php
/vendor/symfony/dom-crawler/README.md
/vendor/symfony/dom-crawler/UriResolver.php
/vendor/symfony/polyfill-ctype/bootstrap.php
/vendor/symfony/polyfill-ctype/bootstrap80.php
/vendor/symfony/polyfill-ctype/composer.json
/vendor/symfony/polyfill-ctype/Ctype.php
/vendor/symfony/polyfill-ctype/LICENSE
/vendor/symfony/polyfill-ctype/README.md
/vendor/symfony/polyfill-mbstring/Resources/unidata/caseFolding.php
/vendor/symfony/polyfill-mbstring/Resources/unidata/lowerCase.php
/vendor/symfony/polyfill-mbstring/Resources/unidata/titleCaseRegexp.php
/vendor/symfony/polyfill-mbstring/Resources/unidata/upperCase.php
/vendor/symfony/polyfill-mbstring/bootstrap.php
/vendor/symfony/polyfill-mbstring/bootstrap80.php
/vendor/symfony/polyfill-mbstring/composer.json
/vendor/symfony/polyfill-mbstring/LICENSE
/vendor/symfony/polyfill-mbstring/Mbstring.php
/vendor/symfony/polyfill-mbstring/README.md
/vendor/autoload.php

/vendor/
